*.pyc
*.pyo
*~
.hg
.git
.svn
.DS_Store
.settings
.project
.pydevproject
.installed.cfg
.mr.developer.cfg
.idea
.sass-cache

/tmp
/env
/docs/_build
/docs/env

/src/settings_local*.py
/requirements_local*.txt

/node_modules
/bower_components
npm-debug.log
*.css.map
/static/css/
/static/vendor

Gemfile.lock
.bundle/

.virtualenv/
.site/.addons_original_files/
.site/.boilerplate_original_files/
.site/.theme_original_files/
.site/tests/coverage/
.site/static/vendor
database.sql
.site/cmscloud/.sync_commit_cache
.site/static/css/base.css
