.idea/
*.pyc
data/
env/
node_modules/
tests/coverage/

# ignore copied files from:
# https://github.com/divio/django-cms-explorer
private/
static/
templates/
tests/
tools/
.editorconfig
browserslist
gulpfile.js
package.json
bower.json
.bowerrc
.csscomb.json
.jscsrc
.jshintrc
