Django>=1.8.5
django-cms>=3.1.3
django-reversion>=1.9.3             # not a part of django-cms core
djangocms-text-ckeditor>=2.6.0      # not a part of django-cms core
psycopg2>=2.6.1                     # required for django.db.backends.postgresql_psycopg2

# additional addons
# always freeze versions, requires.io will show outdated dependencies
aldryn-bootstrap3>=0.5.1            # adds django-filer
aldryn-style>=0.2.1
aldryn-newsblog>=1.0.0              # adds boilerplates, parler...
aldryn-faq>=1.0.0
aldryn-events>=1.0.0
aldryn-jobs>=1.0.0

django-tablib
