Django>=1.8,<1.11

# install development version of django CMS for testing
https://github.com/divio/django-cms/archive/develop.zip#egg=django-cms

# always freeze versions, requires.io will show outdated dependencies
# this file will always use the latest master (which might be unreleased)

# core addons, installed from master
https://github.com/divio/djangocms-admin-style/archive/master.zip#egg=djangocms-admin-style
https://github.com/divio/djangocms-text-ckeditor/archive/master.zip#egg=djangocms-text-ckeditor
https://github.com/divio/django-filer/archive/master.zip#egg=django-filer
https://github.com/divio/djangocms-link/archive/master.zip#egg=djangocms-link
https://github.com/divio/djangocms-picture/archive/master.zip#egg=djangocms-picture
https://github.com/divio/djangocms-snippet/archive/master.zip#egg=djangocms-snippet
https://github.com/divio/djangocms-style/archive/master.zip#egg=djangocms-style
https://github.com/divio/djangocms-googlemap/archive/master.zip#egg=djangocms-googlemap
https://github.com/divio/djangocms-video/archive/master.zip#egg=djangocms-video
https://github.com/divio/djangocms-audio/archive/master.zip#egg=djangocms-audio
