Django>=1.8.8,<1.9
django-reversion>=1.8.2,<1.8.6
# django-reversion>=1.10,<1.11
psycopg2>=2.6.1  # required for django.db.backends.postgresql_psycopg2

# we can modify the django CMS installation at will to test certain features
https://github.com/stefanfoulis/django-cms/archive/feature/namespaced-plugin-reverse-name.zip

# compatible classy-tags for django-cms
django-classy-tags>=0.5,<0.7.1

# always freeze versions, requires.io will show outdated dependencies
# this file will always use the latest master (which might be unreleased)

# core addons
https://github.com/divio/djangocms-admin-style/archive/master.zip
https://github.com/divio/django-filer/archive/develop.zip
https://github.com/divio/djangocms-text-ckeditor/archive/master.zip

# we need to load a custom tablib version as there are unmerged errors
https://github.com/divio/django-tablib/archive/diviointernal.zip

# essential addons
https://github.com/aldryn/aldryn-newsblog/archive/master.zip
https://github.com/aldryn/aldryn-people/archive/master.zip
https://github.com/aldryn/aldryn-events/archive/master.zip
https://github.com/aldryn/aldryn-faq/archive/master.zip
https://github.com/aldryn/aldryn-jobs/archive/master.zip

# other addons
https://github.com/aldryn/aldryn-bootstrap3/archive/master.zip
https://github.com/aldryn/aldryn-forms/archive/master.zip
https://github.com/aldryn/aldryn-style/archive/master.zip
