{% extends "cmscloud/login_screen.html" %}

{% block message %}
	<div id="login" class="window center">
		<section>
			<div id="logo">
				<div id="logo"><a href="http://www.django-cms.org" class="logo djangocms">django-cms.org</a></div>           
			</div>
			<div class="row-list">
				<div class="row">
					<p>This demo has expired</p>

					<p>&nbsp;</p>
					<p><a class="button blue" href="http://control.aldryn.com/demo/get-new/">Get a new one</a></p>
					<p style="margin-top: 20px;"><small>Powered by</small></p>
					<a href="http://www.aldryn.com" class="logo dark">aldryn.com</a>
				</div>
			</div>
		</section>
	</div>
{% endblock message %}
