https://control.aldryn.com/api/v1/apps/serve/aldryn-style/0.1.10/e324d3c8-cb84-4cb7-a295-5db058ea753c/aldryn-style-0.1.10.tar.gz
https://control.aldryn.com/api/v1/apps/serve/aldryn-forms/0.3.1/aldryn-forms-0.3.1.tar.gz
https://control.aldryn.com/api/v1/apps/serve/aldryn-bootstrap3/0.4.7/e9828452-0439-4fe1-ae03-413c7433515e/aldryn-bootstrap3-0.4.7.tar.gz