## basics
Django==1.6.11  # rq.filter: <1.7
django-cms==3.0.13   # rq.filter: <3.1

# django-mptt >=0.7 does not work with django-cms
django-mptt==0.6.1  # rq.filter: <0.7
# django-reversion==1.8.6 fails on startup ("ImportError: No module named fields")
django-reversion==1.8.5  # rq.filter: !=1.8.6


## security related
# required by cryptography but won't install if not listed explicitly here and BEFORE cryptography.
# this seems to only be a problem on osx though.
# https://github.com/pyca/cryptography/issues/1981
ipaddress
enum34
six
idna
pycparser
cffi
pyasn1
# finally
cryptography
ndg-httpsclient
certifi
pyOpenSSL


## setup utils
dj-database-url
dj-email-url
dj-redis-url
django-cache-url
django-appconf
django-dotenv
django-getenv
django-redis-cache
redis
hiredis
aldryn-client
webservices
raven
opbeat

dj-static
djeese-fs
django-simple-sso

gevent
# gunicorn 19.0 and 19.3.0 are failing with --prefork
gunicorn==18.0  # rq.filter: <19.0
psycopg2
psycogreen

## utils
django-compressor
django-health-check
YURL
South
requests
Pillow
lxml
django-treebeard
django-simple-captcha
BeautifulSoup


## basic apps
django-parler
django-robots
Django-Select2

djangocms-admin-style
djangocms-googlemap
djangocms-link
djangocms-snippet
djangocms-text-ckeditor
cmsplugin-filer

# aldryn-boilerplates 0.7 breaks Django 1.6.x compatibility
aldryn-boilerplates==0.6  # rq.filter: !=0.7
aldryn-common
aldryn-sites
aldryn-snake
django-filer
django-hvad
